---
layout: default.html
title: Главная страница
name: 
---

<div class="container m-b-40">
	<div class="row">
		<div class="col-md-48 col-lg-12">
			
			{{> leftnav }}

			<div class="special m-t-60">
				
			</div>

		</div>
		<div class="col-md-48 col-lg-36">
			
			<div class="page">

				<div class="health-center">
					
					<h1 class="health-center__title">
						Дополнительные услуги
					</h1>
					
					<div class="health-center__anons">
						<p>
							На базе школы и детского сада Уникум предоставляются дополнительные услуги для детей и их родителей. Воспользоваться услугами может любой желающий. 
						</p>
					</div>

					<div class="row health-center__item">
						<div class="col-md-48 col-lg-12">
							<a href="">
								<img class="health-center__item-frame" src="images/pages-images/added-services/img-1.jpg" width="112" height="112" alt />
							</a>
						</div>
						<div class="col-md-48 col-lg-36">
							<h2 class="health-center__item-name">
								<a class="decorate" href="">
									Детские праздники
								</a>
							</h2>
							<div class="health-center__item-text">
								<p>
									Организация детских праздников, которые включают 
									в себя аниматоров, использование индивидуальных 
									сценариев, живой звук, оформление.
								</p>
							</div>
						</div>
					</div>

					<div class="row health-center__item">
						<div class="col-md-48 col-lg-12">
							<a href="">
								<img class="health-center__item-frame" src="images/pages-images/added-services/img-2.jpg" width="112" height="112" alt />
							</a>
						</div>
						<div class="col-md-48 col-lg-36">
							<h2 class="health-center__item-name">
								<a class="decorate" href="">
									Доставка (трансфер)
								</a>
							</h2>
							<div class="health-center__item-text">
								<p>
									Организация детских праздников, которые включают 
									в себя аниматоров, использование индивидуальных 
									сценариев, живой звук, оформление.
								</p>
							</div>
						</div>
					</div>

					<div class="row health-center__item">
						<div class="col-md-48 col-lg-12">
							<a href="">
								<img class="health-center__item-frame" src="images/pages-images/added-services/img-3.jpg" width="112" height="112" alt />
							</a>
						</div>
						<div class="col-md-48 col-lg-36">
							<h2 class="health-center__item-name">
								<a class="decorate" href="">
									Няня выходного дня
								</a>
							</h2>
							<div class="health-center__item-text">
								<p>
									Организация детских праздников, которые включают 
									в себя аниматоров, использование индивидуальных 
									сценариев, живой звук, оформление.
								</p>
							</div>
						</div>
					</div>

					<div class="row health-center__item">
						<div class="col-md-48 col-lg-12">
							<a href="">
								<img class="health-center__item-frame" src="images/pages-images/added-services/img-4.jpg" width="112" height="112" alt />
							</a>
						</div>
						<div class="col-md-48 col-lg-36">
							<h2 class="health-center__item-name">
								<a class="decorate" href="">
									Консультации для родителей
								</a>
							</h2>
							<div class="health-center__item-text">
								<p>
									Организация детских праздников, которые включают 
									в себя аниматоров, использование индивидуальных 
									сценариев, живой звук, оформление.
								</p>
							</div>
						</div>
					</div>

					<div class="row health-center__item">
						<div class="col-md-48 col-lg-12">
							<a href="">
								<img class="health-center__item-frame" src="images/pages-images/added-services/img-5.jpg" width="112" height="112" alt />
							</a>
						</div>
						<div class="col-md-48 col-lg-36">
							<h2 class="health-center__item-name">
								<a class="decorate" href="">
									Услуги логопеда
								</a>
							</h2>
							<div class="health-center__item-text">
								<p>
									Организация детских праздников, которые включают 
									в себя аниматоров, использование индивидуальных 
									сценариев, живой звук, оформление.
								</p>
							</div>
						</div>
					</div>

					<div class="row health-center__item">
						<div class="col-md-48 col-lg-12">
							<a href="">
								<img class="health-center__item-frame" src="images/pages-images/added-services/img-5.jpg" width="112" height="112" alt />
							</a>
						</div>
						<div class="col-md-48 col-lg-36">
							<h2 class="health-center__item-name">
								<a class="decorate" href="">
									Школа будущих родителей
								</a>
							</h2>
							<div class="health-center__item-text">
								<p>
									Организация детских праздников, которые включают 
									в себя аниматоров, использование индивидуальных 
									сценариев, живой звук, оформление.
								</p>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>

