---
layout: default.html
title: Главная страница
name: index
---

<div class="container m-b-40">
	<div class="row">
		<div class="col-md-48 col-lg-12">

			<ul class="nav leftnav">
				<li class="leftnav__item">
					<a href="">
						<span class="decorate">О нас</span>
					</a>
				</li>
				<li class="leftnav__item active">
					<a href="">
						<span class="decorate">Условия приема</span>
					</a>
				</li>
				<li class="leftnav__item">
					<a href="">
						<span class="decorate">Расположение</span>
					</a>
				</li>
				<li class="leftnav__item">
					<a href="">
						<span class="decorate">Сотрудники</span>
					</a>
				</li>
				<li class="leftnav__item">
					<a href="">
						<span class="decorate">Документы</span>
					</a>
				</li>
				<li class="leftnav__item">
					<a href="">
						<span class="decorate">Новости</span>
					</a>
				</li>
				<li class="leftnav__item">
					<a href="">
						<span class="decorate">Оздоровительный центр</span>
					</a>
				</li>
			</ul>

		</div>
		<div class="col-md-48 col-lg-36">
			
			<div id="carousel-example-generic" class="carousel index-carousel slide" data-ride="carousel">

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="images/pages-images/index/slider/img-1.jpg" width="720" height="350" alt="" />
						<div class="carousel-caption index-carousel__caption">
							“Уникум” сегодня - это одна
							из лучших столичных школ
						</div>
					</div>
					<div class="item">
						<img src="images/pages-images/index/slider/img-1.jpg" width="720" height="350" alt="" />
						<div class="carousel-caption index-carousel__caption">
							“Уникум” сегодня - это одна
							из лучших столичных школ
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div class="dotblock m-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-48 col-lg-8">
				<a class="dotblock__img" href="">
					<img src="images/iconography/img-1.png" width="175" height="130" alt="" />
				</a>
			</div>
			<div class="col-md-48 col-lg-8">
				<h3 class="dotblock__title">
					<a class="orange" href="">
						<span class="decorate">ЯСЛИ</span>
					</a>
				</h3>
				<p class="dotblock__text">
					до 8 месяцев
				</p>
			</div>
			<div class="col-md-48 col-lg-8">
				<a class="dotblock__img" href="">
					<img src="images/iconography/img-2.png" width="175" height="130" alt="" />
				</a>
			</div>
			<div class="col-md-48 col-lg-8">
				<h3 class="dotblock__title">
					<a class="marine" href="">
						<span class="decorate">ДЕТСКИЙ</span><span class="decorate">САД</span>
					</a>
				</h3>
				<p class="dotblock__text">
					от 1 до 8 лет
				</p>
			</div>
			<div class="col-md-48 col-lg-8">
				<a class="dotblock__img" href="">
					<img src="images/iconography/img-3.png" width="175" height="130" alt="" />
				</a>
			</div>
			<div class="col-md-48 col-lg-8">
				<h3 class="dotblock__title">
					<a class="green" href="">
						<span class="decorate">НАЧАЛЬНАЯ</span><span class="decorate">ШКОЛА</span>
					</a>
				</h3>
				<p class="dotblock__text">
					от 6 до 14 лет
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container m-b-20">
	<div class="row">
		<div class="col-md-48 col-lg-16 p-t-75">
			<div class="index-special">
				<a class="index-special__frame" href=""></a>
			</div>
		</div>
		<div class="col-md-48 col-lg-32">
			<div class="news">
				
				<h2 class="news__title m-b-40">
					Новости<a class="readmore m-l-80" href=""><span class="decorate">Показать все</span><i class="icons icons--readmore"></i></a>
				</h2>

				<div class="row news__item">
					<div class="col-md-48 col-lg-11">
						<a class="news__item-img" href="">
							<img src="images/pages-images/index/news/img-1.jpg" width="137" height="112" alt="" />
						</a>
					</div>
					<div class="col-md-48 col-lg-37">
						<span class="news__item-date">
							22.12.2015
						</span>
						<a class="news__item-title" href="">
							<span class="decorate">
								В 2015 году выпускники частной школы “Уникум”
								показали один из лучших результатов сдачи ЕГЭ
								среди московских школ
							</span>
						</a>
					</div>
				</div>

				<div class="row news__item">
					<div class="col-md-48 col-lg-11">
						<a class="news__item-img" href="">
							<img src="images/pages-images/index/news/img-2.jpg" width="137" height="112" alt="" />
						</a>
					</div>
					<div class="col-md-48 col-lg-37">
						<span class="news__item-date">
							22.12.2015
						</span>
						<a class="news__item-title" href="">
							<span class="decorate">
								В 2015 году выпускники частной школы “Уникум”
								показали один из лучших результатов сдачи ЕГЭ
								среди московских школ
							</span>
						</a>
					</div>
				</div>

				<div class="row news__item">
					<div class="col-md-48 col-lg-11">
						<a class="news__item-img" href="">
							<img src="images/pages-images/index/news/img-3.jpg" width="137" height="112" alt="" />
						</a>
					</div>
					<div class="col-md-48 col-lg-37">
						<span class="news__item-date">
							22.12.2015
						</span>
						<a class="news__item-title" href="">
							<span class="decorate">
								В 2015 году выпускники частной школы “Уникум”
								показали один из лучших результатов сдачи ЕГЭ
								среди московских школ
							</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<span class="shadow-line"></span>
</div>


<div class="container addservices m-b-80">
	
	<h1 class="addservices__title">
		Дополнительные услуги
	</h1>
	<div class="addservices__anons">
		<p>
			На базе школы и детского сада Уникум мы предоставляем
			<br />
			дополнительные услуги для наших маленьких воспитанников
		</p>
	</div>
	<div class="row m-t-30">
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-1.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Детские</span>
					<br />
					<span class="decorate">праздники</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-2.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Трансфер</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-3.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Няня</span>
					<br />
					<span class="decorate">выходного дня</span>
				</span>
			</a>
		</div>
	</div>

	<div class="row m-t-30">
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-4.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Консультации</span>
					<br /> 
					<span class="decorate">для родителей</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-5.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Услуги</span>
					<br />
					<span class="decorate">логопеда</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-6.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Школа будущих</span>
					<br />
					<span class="decorate">родителей</span>
				</span>
			</a>
		</div>
	</div>

</div>



