---
layout: default.html
title: Главная страница
name: playschool
---

<div class="container container-mw-1080">
	<div class="playschool">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs playschool__tabs" role="tablist">
			<li role="presentation" class="playschool__tabs-btn active">
				<a href="#total" aria-controls="total" role="tab" data-toggle="tab">
					Общее описание
				</a>
			</li>
			<li role="presentation">
				<a href="#question" aria-controls="question" role="tab" data-toggle="tab">
					Вопросы и ответы
				</a>
			</li>
			<li role="presentation">
				<a href="#conditions" aria-controls="conditions" role="tab" data-toggle="tab">
					Условия приема
				</a>
			</li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content page playschool__content">
			<div role="tabpanel" class="tab-pane active" id="total">
				
				<h1 class="playschool__title text-center">
					Детский
					<br />
					сад
				</h1>
				
				<img class="playschool__img-top" src="images/iconography/img-big.png" width="956" height="458" alt="" />
				
				<p class="text-center">
					Детский сад «Уникум» — это конкурентоспособный детский сад, ориентированный на потребности
					наших клиентов. Это сочетание «классической» модели образования с «неклассической»,
					предполагающей развитие личного отношения ребенка к получаемым знаниям.
				</p>
				<p class="text-center">
					Наш девиз: <span class="green">«Внедряя новое-сохраняем традиции».</span> Воспитание и обучение проходит
					по программе ФГОС «От рождения до школы»
				</p>

				<div class="row playschool__gallery">
					<div class="col-xs-24 col-md-12">
						<a href="#" class="thumbnail">
							<img src="images/pages-images/kindergarten/img-1.jpg" width="202" height="142" alt="" />
						</a>
					</div>
					<div class="col-xs-24 col-md-12">
						<a href="#" class="thumbnail">
							<img src="images/pages-images/kindergarten/img-2.jpg" width="202" height="142" alt="" />
						</a>
					</div>
					<div class="col-xs-24 col-md-12">
						<a href="#" class="thumbnail">
							<img src="images/pages-images/kindergarten/img-3.jpg" width="202" height="142" alt="" />
						</a>
					</div>
					<div class="col-xs-24 col-md-12">
						<a href="#" class="thumbnail">
							<img src="images/pages-images/kindergarten/img-4.jpg" width="202" height="142" alt="" />
						</a>
					</div>
				</div>
				
				<h3 class="playschool__subtitle text-center">
					Что доступно нашим детям?
				</h3>
				
				<p class="text-center">
					Используя небольшие группы до 10 человек мы стараемся максимально насыщенно организовать время ребенка в детском саду Уникум. Обладая большой материальной базой мы обеспечивам разнообразии программ на каждый день.
				</p>
				
				<div class="row p-t-30 m-b-40">
					<div class="col-md-48 col-lg-16">
						
						<h4 class="playschool__smalltitle orange">
							Много возможностей
							<br />
							для развития:
						</h4>
						
						<ul class="small playschool__smalltext">
							<li>
								Крытый бассейн
							</li>
							<li>
								Каждый год дети сажают огород
							</li>
							<li>
								Физкультурный и музыкальный зал
							</li>
							<li>
								Зал хореографии
							</li>
							<li>
								Мини-кинотеатр
							</li>
							<li>
								Крытые веранды для прогулок в плохую погоду и т.д.
							</li>
						</ul>
					
					</div>
					<div class="col-md-48 col-lg-28 col-lg-offset-4">
						
						<div class="slider-frame">
							<div class="slider-frame__rotate">
								<div class="unqslider js-slider">
									<ul class="unqslider__images js-slider-images">
										<li class="active">
											<img src="images/pages-images/kindergarten/slider/img-big.jpg" width="425" height="350" alt="" />
										</li>
										<li>
											<img src="images/pages-images/kindergarten/slider/img-big.jpg" width="425" height="350" alt="" />
										</li>
										<li>
											<img src="images/pages-images/kindergarten/slider/img-big.jpg" width="425" height="350" alt="" />
										</li>
										<li>
											<img src="images/pages-images/kindergarten/slider/img-big.jpg" width="425" height="350" alt="" />
										</li>
									</ul>
									<ul class="unqslider__titles js-slider-titles">
										<li class="active">
											Название фотографии, мероприятия или места
										</li>
										<li>
											Название фотографии, мероприятия или места
										</li>
										<li>
											Название фотографии, мероприятия или места
										</li>
										<li>
											Название фотографии, мероприятия или места
										</li>
									</ul>
									<ul class="unqslider__thumbs js-slider-thumbs">
										<li class="active">
											<a href="#">
												<img src="images/pages-images/kindergarten/slider/thumb-1.jpg" width="42" height="42" alt="" />
											</a>
										</li>
										<li>
											<a href="#">
												<img src="images/pages-images/kindergarten/slider/thumb-2.jpg" width="42" height="42" alt="" />
											</a>
										</li>
										<li>
											<a href="#">
												<img src="images/pages-images/kindergarten/slider/thumb-3.jpg" width="42" height="42" alt="" />
											</a>
										</li>
										<li>
											<a href="#">
												<img src="images/pages-images/kindergarten/slider/thumb-4.jpg" width="42" height="42" alt="" />
											</a>
										</li>
									</ul>
									<a href="" class="unqslider__prev js-slider-prev"><i class="icons icons--arrow-left"></i></a>
									<a href="" class="unqslider__next js-slider-next"><i class="icons icons--arrow-right"></i></a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<!-- [Сбалансированное питание] -->
				<div class="row m-b-40">
					<div class="col-md-48 col-lg-20">
						
						<img src="images/iconography/img-4.png" width="348" height="348" alt="" />
						
					</div>
					<div class="col-md-48 col-lg-28 p-t-30">
						
						<h3 class="playschool__subtitle">
							Сбалансированное питание
						</h3>
						
						<p class="m-b-35">
							Для детей предусмотрено 4-х разовое питание. 10-недельное сбалансированное меню составлено
							на основе рекомендаций детского врача-диетолога.
						</p>
						<p class="small playschool__smalltext">
							В питании детей используются продукты с повышенной биологической ценностью, обладающие свойствами благотворно влиять на здоровье, рост и развитие.
						</p>
						
					</div>
				</div>
				
				<!-- [Внимание к здоровью] -->
				<div class="row m-b-65">
					<div class="col-md-48 col-lg-20">
						
						<h3 class="playschool__subtitle">
							Внимание к здоровью
						</h3>
						
						<p class="m-b-40">
							Работа по сохранениюздоровья детей  совершенствуется из года в год.
						</p>
						
						<p class="small playschool__smalltext m-b-35">
							Каждый день начинается с утренней зарядки. Задача укрепления здоровья предполагает: сформировать у детей понимание ценности здорового образа жизни и воспитать навыки физической культуры. Занятия по физкультуре проходят с дошкольниками в спортзале, бассейне и на свежем воздухе. Регулярно организуются спортивные досуги, праздники на воде, Дни здоровья.
						</p>					
						
						<h4 class="playschool__smalltitle orange">
							Медицинская база:
						</h4>
						
						<ul class="small playschool__smalltext">
							<li>
								Кабинет врача
							</li>
							<li>
								Массажный кабинет
							</li>
							<li>
								Изолятор
							</li>
						</ul>
						
					</div>
					<div class="col-md-48 col-lg-28">
						
						<img src="images/iconography/img-5.png" width="574" height="556" alt="" />

					</div>
				</div>
				
				<!-- [Расположение] -->
				<div class="row m-b-30">
					<div class="col-md-48 col-lg-20">
						
						<h3 class="playschool__subtitle">
							Расположение
						</h3>
						
						<p>
							Детский сад расположен
							на территории лесного массива
							и обладает собственной
							территорией в 1 гектар.
						</p>
						
						<h4 class="playschool__smalltitle orange">
							Наша территории - наше преимущество:
						</h4>
						
						<ul class="small playschool__smalltext">
							<li>
								1 гектар лесной территории с декоративным прудом
							</li>
							<li>
								Крытые веранды для прогулок в плохую погоду
							</li>
							<li>
								Футбольное поле
							</li>
							<li>
								Заложен фруктовый сад
							</li>
						</ul>
						
					</div>
					<div class="col-md-48 col-lg-28 p-t-55">
						
						<iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4518.813197284275!2d37.26916863359072!3d55.50786501832352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDMwJzI4LjMiTiAzN8KwMTYnMjQuOCJF!5e0!3m2!1sru!2sru!4v1452607698737" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						
						<a class="about__readmore" href=""><span class="decorate">Посмотреть весь перечень</span></a>

					</div>
				</div>

			</div>
			<div role="tabpanel" class="tab-pane" id="question">
				...
			</div>
			<div role="tabpanel" class="tab-pane" id="conditions">
				...
			</div>
		</div>
	</div>
</div>

<div class="container container-mw-1080">
	<div class="playschool__pill">
		<p class="playschool__pill-content">
			Если у вас есть вопросы. то можете посмотреть
			<br />
			наш раздел <a href="#">вопросов и ответов</a>, или позвонить нам
		</p>
		<p class="playschool__pill-phone">
			+ 7(495) 943-70-02
		</p>
	</div>
</div>

<div class="container">
	<span class="shadow-line"></span>
</div>

<div class="container addservices m-b-80">
	
	<h1 class="addservices__title">
		Дополнительные услуги
	</h1>
	<div class="addservices__anons">
		<p>
			На базе школы и детского сада Уникум мы предоставляем
			<br />
			дополнительные услуги для наших маленьких воспитанников
		</p>
	</div>
	<div class="row m-t-30">
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-1.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Детские</span>
					<br />
					<span class="decorate">праздники</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-2.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Трансфер</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-3.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Няня</span>
					<br />
					<span class="decorate">выходного дня</span>
				</span>
			</a>
		</div>
	</div>

	<div class="row m-t-30">
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-4.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Консультации</span>
					<br /> 
					<span class="decorate">для родителей</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-5.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Услуги</span>
					<br />
					<span class="decorate">логопеда</span>
				</span>
			</a>
		</div>
		<div class="col-md-48 col-lg-16">
			<a class="addservices__frame" href="">
				<span class="addservices__frame-round">
					<img src="images/pages-images/index/services/img-6.jpg" width="112" height="112" alt="" />
				</span><span class="addservices__name">
					<span class="decorate">Школа будущих</span>
					<br />
					<span class="decorate">родителей</span>
				</span>
			</a>
		</div>
	</div>

</div>

