<ul class="nav leftnav">
	<li class="leftnav__item {{#is page.name 'about'}}active{{/is}}">
		<a href="about.html">
			<span class="decorate">О нас</span>
		</a>
	</li>
	<li class="leftnav__item {{#is page.name 'reception'}}active{{/is}}">
		<a href="">
			<span class="decorate">Условия приема</span>
		</a>
	</li>
	<li class="leftnav__item {{#is page.name 'contacts'}}active{{/is}}">
		<a href="">
			<span class="decorate">Расположение</span>
		</a>
	</li>
	<li class="leftnav__item {{#is page.name 'employees'}}active{{/is}}">
		<a href="">
			<span class="decorate">Сотрудники</span>
		</a>
	</li>
	<li class="leftnav__item {{#is page.name 'docs'}}active{{/is}}">
		<a href="docs.html">
			<span class="decorate">Документы</span>
		</a>
	</li>
	<li class="leftnav__item {{#is page.name 'news'}}active{{/is}}">
		<a href="news.html">
			<span class="decorate">Новости</span>
		</a>
	</li>
	<li class="leftnav__item {{#is page.name 'health-center'}}active{{/is}}">
		<a href="health-center.html">
			<span class="decorate">Оздоровительный центр</span>
		</a>
	</li>
</ul>