<ul class="nav leftnav">
	<li class="leftnav__item {{#is page.name 'health-article'}}active{{/is}}">
		<a href="health-article.html">
			<span class="decorate">Массаж для детей и взрослых</span>
		</a>
	</li>
	<li class="leftnav__item">
		<a href="">
			<span class="decorate">Лечебная физкультура</span>
		</a>
	</li>
	<li class="leftnav__item">
		<a href="">
			<span class="decorate">Бассейн +сауна + фитобар</span>
		</a>
	</li>
	<li class="leftnav__item">
		<a href="">
			<span class="decorate">Йога для малышей</span>
		</a>
	</li>
	<li class="leftnav__item">
		<a href="docs.html">
			<span class="decorate">Йога для будущих мам</span>
		</a>
	</li>
</ul>