<nav class="pagination--justify">
	<ul class="row pagination">
		
		<li class="col-lg-9 unactive">
			<a href="#" aria-label="Previous">
				<span class="icons icons--paging-arrow-left" aria-hidden="true"></span><span class="decorate">Пред.</span>
			</a>
		</li>

		<li class="col-lg-5 active"><a href="#"><span class="decorate">1</span></a></li>
		<li class="col-lg-5"><a href="#"><span class="decorate">2</span></a></li>
		<li class="col-lg-5"><a href="#"><span class="decorate">3</span></a></li>
		<li class="col-lg-5"><span>...</span></li>
		<li class="col-lg-5"><a href="#"><span class="decorate">4</span></a></li>
		<li class="col-lg-5"><a href="#"><span class="decorate">5</span></a></li>

		<li class="col-lg-9">
			<a href="#" aria-label="Next">
				<span class="decorate">След.</span><span class="icons icons--paging-arrow-right" aria-hidden="true"></span>
			</a>
		</li>

	</ul>
</nav>