<ul class="nav nav-justified topnav">
	<li class="topnav__item text-right">
		<a class="topnav__home {{#is page.name 'index'}}active{{/is}}" href="">
			<i class="icons icons--house-white"></i>
			<i class="icons icons--house"></i>
		</a>
	</li>
	<li class="topnav__item {{#is page.name 'nursery'}}active{{/is}}">
		<a class="orange" href="playschool.html">
			<span class="decorate">Ясли</span>
		</a>
	</li>
	<li class="topnav__item {{#is page.name 'playschool'}}active{{/is}}">
		<a class="marine" href="playschool.html">
			<span class="decorate">Детский сад</span>
		</a>
	</li>
	<li class="topnav__item {{#is page.name 'grade-school'}}active{{/is}}">
		<a class="green" href="playschool.html">
			<span class="decorate">Начальная школа</span>
		</a>
	</li>
	<li class="topnav__item {{#is page.name 'services'}}active{{/is}}">
		<a href="added-services.html">
			<span class="decorate">Доп. услуги</span>
		</a>
	</li>
	<li class="topnav__item {{#is page.name 'contacts'}}active{{/is}}">
		<a href="contacts.html">
			<span class="decorate">Контакты</span>
		</a>
	</li>
</ul>