
.news {
	&__title {
		font-size: 30px;
		font-family: 'houschka_roundedextrabold';
		line-height: 1.17;
	}
	li.news__item {
		&:after,
		&:before {
			background: transparent;
			display: none;
		}		
	}
	&__item {
		margin-bottom: 30px;
		list-style-type: none;

		&:last-child {
			margin-bottom: 0px;
		}
		&-img,
		&-img img {
			display: block;
		}
		&-img {
			position: relative;
			overflow: hidden;
			border: 4px solid #d4dee7;
			img {
				min-width: 100%;
				height: auto;
			}
		}
		&-date,
		&-title {
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			padding-left: 23px;
			display: inline-block;
		}
		&-date {
			display: block;
			font-size: 13px;
			line-height: 1.0;
			color: @gray-color;
			margin-top: -2px;
			margin-bottom: 12px;
		}
		&-title {
			text-decoration: none;
			font-size: 20px;
			line-height: 1.50;
			.decorate {
				border-bottom: 1px solid #a1a1a1;
			}
			&:hover {
				text-decoration: none;
				.decorate {
					border-bottom: 0px none;
				}
			}
			&,
			&:hover {
				color: @base-dark-color;
			}
		}
	}
	&-list {
		&--inshadow {
			margin-left: -60px;
			margin-right: -100px;
			padding-left: 60px;
			padding-right: 100px;
			position: relative;
			&:before {
				content: "";
				display: block;
				background-image: linear-gradient(rgba(0,0,0,0.03), rgba(0,0,0,0.0));
				position: absolute;
				top: 0px;
				right: 0px;
				left: 0px;
				height: 60px;
			}
		}
		&__title {
			font-family: 'houschka_roundedextrabold';
			font-size: 40px;
			margin-bottom: 50px;
		}
		&__item,
		&__items {
			list-style-type: none;
			&:after,
			&:before {
				background: transparent;
				display: none;
			}
			margin: 0px 0px;
			padding: 0px 0px;
		}
		&__filtr {
			float: right;
			position: relative;
			right: -40px;
			font-size: 15px;
			line-height: 1.1;
			font-weight: 700;
			color: @base-color;
			margin-top: 12px;
			&-item {
				color: @base-color;
				margin-left: 12px;
				&:hover {
					text-decoration: none;
				}
				span {
					display: inline-block;
				}
				.decorate {
					border-bottom: 1px dashed;
				}
				&.active,
				&:hover {
					color: @orange-color;
					.decorate {
						border-bottom-color: transparent;
					}
				}
			}
		}
		&__item {
			margin-top: 60px;
			&:first-child {
				margin-top: 0px;
			}
			&-data {
				display: block;
				line-height: 1.0;
				padding: 9px 0px 0px;
				margin-bottom: 12px;
				font-size: 13px;
				color: @gray-color;
				font-family: 'houschka_roundedmedium';
			}
			&-frame {
				display: block;
				position: relative;
				right: -40px;
				border: 4px solid #d4dee7;
				z-index: 1;
			}
			&-name {
				font-family: 'houschka_roundedmedium';
				font-size: 20px;
				line-height: 1.5;
				font-weight: 700;
				color: @base-dark-color;
				.decorate {
					border-bottom: 1px solid #949b9d;
				}
				&:hover {
					text-decoration: none;
					.decorate {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
}
