
.slider-frame {
	background: #fff;
	float: left;
	box-shadow: 0px 1px 7px rgba(0,0,0,0.25);
	transform: rotate(3deg);
	&__rotate {
		background: #fff;
		float: left;
		padding: 12px 12px;
		box-shadow: 0px 1px 7px rgba(0,0,0,0.25);
		transform: rotate(-5deg);
	}
}

.unqslider {
	
	ul,
	ul li {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		&:before,
		&:after {
			display: none;
		}
	}
	& &__titles,
	& &__images {
		width: 425px;
	}
	& &__images {
		height: 350px;
		overflow: hidden;
		li {
			float: left;
			overflow: hidden;
			margin: 0px;
			padding: 0px;
			
			transform: rotate(360deg);
			a,
			img {
				display: block;
			}
			& img {
				border: 1px solid #fff;
			}
		}
	}
	& &__thumbs {
		position: absolute;
		top: 0px;
		right: -100px;
		transform: rotate(2deg);
		li {
			margin: 0px;
			padding: 10px 0px 0px;
			&:first-child
			a,
			img {
				display: block;
			}
			img {
				border: 4px solid @border-color;
			}
			&:hover,
			&.active {
				img {
					border-color: #fd967c;
				}
			}
		}
	}
	& &__titles {
		overflow: hidden;
		li {
			width: 100%;
			text-align: center;
			float: left;
			position: absolute;
			font-size: 20px;
			font-family: 'intro_script_rh2_base';			
			opacity: 0.0;
			&.active {
				position: relative;
				opacity: 1.0;
			}
		}
	}
	&__prev,
	&__next {
		background: #fff;
		width: 21px;
		height: 60px;
		margin-top: -30px;
		line-height: 60px;
		position: absolute;
		top: 50%;
	}
	&__prev {
		border-radius: 0px 4px 4px 0px;
		text-align: left;
		left: 11px;
		padding-left: 2px;
		&:hover {
			.icons {
				&:after {
					.sprite(@arrow-left-hover);
				}
			}
		}
	}
	&__next {
		border-radius: 4px 0px 0px 4px;
		text-align: right;
		right: 11px;
		padding-right: 2px;
		&:hover {
			.icons {
				&:after {
					.sprite(@arrow-right-hover);
				}
			}
		}
	}
}