
.index-carousel {
	
	& &__caption {
		background: white;
		position: absolute;
		left: auto;
		right: 0px;
		bottom: 0px;
		color: @marine-color;
		max-width: 500px;
		padding: 18px 30px;
		margin: 0px;
		text-shadow: none;
		font-family: 'houschka_roundedextrabold';
		font-size: 27px;
		text-align: left;
		line-height: 1.18;
	}
}