<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{{title}}
		</title>

		<link rel="stylesheet" href="stylesheets/app.min.css" />

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/{{ bower.dependencies.html5shiv }}/html5shiv.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/{{ bower.dependencies.selectivizr }}/selectivizr-min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/{{ bower.dependencies.respond }}/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		{{> header }}
		
		<div class="content">

			{{> body }}
		
		</div>

		{{> footer }}

		{{> footer-js }}
	</body>
</html>
